body {
max-width: 60em;
margin: 0 auto 0 auto;
background-image: url("poe-portrait.png");
background-repeat: no-repeat;
background-attachment: fixed;
}
/* 1 background image added */
table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}

h1 {
    background-color: aqua;
    
}

h2 {
    background-color: aquamarine;
}
/* 2 background colors */
/* 2 css comments */
p {
    background-color: antiquewhite;
}
/* 3 new styles */